@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #e0c3fc;

    --foreground: 287 59.15% 7.04%;
    --background: 287 9.1% 99.4%;

    --muted: 287 9.1% 58.8%;
    --muted-foreground: 287 45.5% 26.4%;

    --popover: 287 9.1% 99.4%;
    --popover-foreground: 287 46.8% 11.44%;

    --card: 287 9.1% 99.4%;
    --card-foreground: 287 46.8% 11.44%;

    --border: 287 45.5% 90%;
    --input: 287 45.5% 26.4%;

    --primary: 287 9.1% 8.8%;
    --primary-foreground: 287 91% 88%;

    --secondary: 287 9.1% 99.4%;
    --secondary-foreground: 287 45.5% 26.4%;

    --accent: 287 9.1% 99.4%;
    --accent-foreground: 287 45.5% 26.4%;

    --destructive: 287 9.1% 99.4%;
    --destructive-foreground: 0 62.8% 30.6%;

    --ring: 287 91% 88%;
    --radius: 99rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #e0c3fc;

    --background: 287 59.15% 7.04%;
    --foreground: 287 9.1% 99.4%;

    --muted: 287 45.5% 26.4%;
    --muted-foreground: 287 9.1% 58.8%;

    --popover: 287 46.8% 11.44%;
    --popover-foreground: 287 9.1% 99.4%;

    --card: 287 46.8% 11.44%;
    --card-foreground: 287 9.1% 99.4%;

    --border: 287 45.5% 26.4%;
    --input: 287 45.5% 26.4%;

    --primary: 287 91% 88%;
    --primary-foreground: 287 9.1% 8.8%;

    --secondary: 287 45.5% 26.4%;
    --secondary-foreground: 287 9.1% 99.4%;

    --accent: 287 45.5% 26.4%;
    --accent-foreground: 287 9.1% 99.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 287 9.1% 99.4%;

    --ring: 287 91% 88%;
    --radius: 99rem;
  }
}

.bg-gradient {
  background: var(--gradient);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
